#score_label {
/*    -fx-background-color: CornflowerBlue ; */
    -fx-font-family:"Comic Sans MS";
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-border-radius: 20;
    -fx-background-radius: 15;
    -fx-padding: 5;
}

#xxx {
    -fx-background-color: green ;

}

/*
#submitBtn{
    -fx-background-color: aquamarine;
    -fx-font-family:"Comic Sans MS";
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-radius: 20;
    -fx-background-radius: 15;
    -fx-padding: 5;

}
/*
.label{
    -fx-text-fill: darkgreen;
    -fx-font-family:"Comic Sans MS";
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
*/

.errorLabel{
    -fx-text-fill: darkred;
    }

