#submitBtn{
    -fx-background-color: aquamarine;
    -fx-font-family:"Comic Sans MS";
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-radius: 20;
    -fx-background-radius: 15;
    -fx-padding: 5;

}

.label{
    -fx-text-fill: darkgreen;
    -fx-font-family:"Comic Sans MS";
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.bluelabel{
    -fx-text-fill: blue;
    }